@mixin flexbox{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $color1;
    color: #ffffff;
    text-align: center;
    @include flexbox;
    justify-content: space-between;
    padding: 1.5rem;
    @media screen and (min-width:550px){
        flex-direction: row;
    }
    img{
        width: 45px;
        margin-bottom: 1rem;
    }
    p{
        font-size: 14px;
        font-weight: lighter;
    }
    .redes{
        @include flexbox;
        justify-content: center;
    }
    svg {
        width: 40px;
        height: 40px;
        @media screen and (min-width:550px){
            width: 50px;
            height: 50px;
        }
    }
}