.navbar{
    background-color: $color1;
    .container-fluid img{
        width: 60px;
        height: auto;
    }
    .nav-link {
        color: #a3a7c4 !important;
        font-weight: bold;
        &:hover {
            color: #e6e0fd !important;
            text-shadow: 1px 1px 1px #424874;
        }
    }
    .navbar-toggler{
        background-color: $color4;
    }
    .dropdown-menu{
        background-color: #817b7b;
    }
    .dropdown-item{
        color: $color4;
        font-weight: bold;
        &:hover {
            color: #141314;
        }
    }
}







