@import "../base/mixins";

.section-contacto {
    background-color: $color2;
    .contacto {
        background-color: $color3;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: #f1f1f1;
        font-weight: bold;
        @media screen and (min-width:550px) {
            flex-direction: row;
            align-items: flex-start;
        }
        div {
            padding-bottom: 20px;
        }
        iframe {
            border-radius: 15px;
            padding: 10px;
        }
        button {
            font-weight: bold;
            font-size: 16px;
            color: #fbfff6;
            background-color: #21327e;
            text-decoration: none;
            padding: 8px;
            border-radius: 40px;
            border: #424874 solid 2px;

            &:hover {
                transition: 0.7s;
                color: #e6e0fd;
                background-color: #87e448;
                border: #5ffc50 solid 2px;
            }
        }
    }
    h1 {
        @include titulos;
        padding-top: 120px;
        margin-bottom: 30px;
        @media screen and (min-width:550px) {
            font-size: 40px;
            padding-top: 100px;
        }
    }
    input{
        border-radius: 5px;
        border: 3px solid $color2;
    }
}