@mixin titulos {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: $color4;
}

@mixin flexbox{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-manga {
    background-color: $color2;
    padding: 10px;

    h1 {
        @include titulos;
        padding-top: 40px;
    }

    .grid-container {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

        div {
            background-color: $color4;
            height: 450px;
            border-radius: 10px;
            @include flexbox;
            justify-content: center;
            text-align: center;
        }

        img {
            width: 260px;
            height: 260px;
            border-radius: 10px;
            object-fit: cover;

            &:hover {
                transform: scale(1.1);
                transition: 0.6s;
            }
        }

        a {
            font-weight: bold;
            font-size: 16px;
            color: #fbfff6;
            background-color: #21327e;
            text-decoration: none;
            padding: 8px;
            border-radius: 40px;
            border: #424874 solid 2px;

            &:hover {
                transition: 0.7s;
                color: #e6e0fd;
                background-color: #87e448;
                border: #5ffc50 solid 2px;
            }
        }

    }
}