@import "../base/mixins";

.div-nosotros{
    background-color: $color2;
    h1{
        @include titulos;
        padding-top: 40px;
    }
    img{
        width: 250px;
        height: 250px;
        border-radius: 20px;
        padding: 0.5rem;
    }
    .nosotros{
        background-color: $color5;
        color: $color1;
        text-align: justify;
        .somos{
            background-color: $color3;
            padding-top: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    .imagen{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and(min-width:550px){
            flex-direction: row;
            justify-content: space-around;
        }

    }
}

