@import "mixins";

.container{
    background-color: $color2;
    h1{
        @include titulos;
        padding-top: 40px;
    }
    img{
        width: 250px;
        border-radius: 20px;
    }
    .nosotros{
        background-color: $color3;
        color: #e6e0fd;
        font-weight: bold;
        text-align: justify;
    }
}

