.container{
    background-color: $color2;
}

.nosotros{
    background-color: #A6B1E1;
    color: #e6e0fd;
    font-weight: bold;
    text-align: justify;
}


.container h1{
    font-size: 35px;
    padding-top: 40px;
    color: #f1f1f1;
    font-weight: bold;
    text-align: center;

}

.container img{
    width: 250px;
    border-radius: 20px;
}