@mixin titulos {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: $color4;
}

@mixin productos {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.section-productos {
    background-color: $color2;

    h1 {
        @include titulos;
        padding-top: 40px;
    }

    .grid-productos {
        background-color: $color3;
        gap: 10px;
        padding: 10px;
        display: grid;
        grid-template:
            "manga"
            "comics"
            "disney"
            "otros";

        @media (min-width: 900px) {

            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;

        }

        .manga {
            background-image: url(../img/mangas.png);
            @include productos;
        }

        .comics {
            background-image: url(../img/marvel.jpg);
            @include productos;
        }

        .disney {
            background-image: url(../img/peterpan.png);
            @include productos;
        }

        .otros {
            background-image: url(../img/otros.png);
            @include productos;
        }

        div {
            background-color: $color2;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        a {
            text-decoration: none;
            color: $color4;
            font-size: 25px;
            font-weight: bold;

            &:hover {
                transform: scale(1.5);
                transition: 0.6s;
            }
        }
    }
}