@media (min-width: 600px){
    .grid-contenedor{
        grid-template-rows: 10px 40px auto 150px;
    }
}

@media (min-width: 900px){
    .grid-contenedor{
        grid-template-rows: 10px 60px auto 150px;
    }
}

@media screen and (max-width:550px){
    .intro h1{
        font-size: 35px;
    }
}

@media screen and (max-width:550px){
    .intro h2{
        font-size: 28px;
    }
}

@media screen and (max-width:550px){
    .novedades-container h2{
        font-size: 35px;
    }
}

@media screen and (max-width:550px){
    .footer{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:550px){
    .footer div svg{
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width:550px){
    .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .section-contacto h1{
        font-size: 30px;
        padding-top: 80px;
        margin-bottom: 0px;
    }
}

@media (min-width: 900px){
    .grid-productos{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}