@mixin titulos {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: $color4;
}

@mixin productos {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}

@mixin flexbox{
    display: flex;
    align-items: center;
    flex-direction: column;
}